$back-black: rgb(48, 30, 59);
$neon-blue-1: rgb(126, 27, 255);
$neon-blue-2: rgb(139, 61, 240);
$neon-blue-3: rgb(165, 96, 255);
$neon-blue-4: rgb(197, 153, 255);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $back-black;
    overflow: hidden;
}

#VR {
    box-shadow:
    0 0 20px $neon-blue-1;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 10px groove $neon-blue-1;
    border-radius: 13px;
    padding: 30px;
    color: $neon-blue-1;


    border-style: $neon-blue-1;
    font-family: Comic Sans ,Arial, sans-serif;
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 3px;
    text-shadow: 0 0 5px $neon-blue-1,
    0 0 15px $neon-blue-2;
    box-shadow: inset 0 0 10px $neon-blue-1,
    0 0 20px $neon-blue-1,
    0 0 40px $neon-blue-3,
    0 0 50px $neon-blue-2,
    0 0 120px $neon-blue-4;

    cursor: pointer;
}

#VR:hover {
    background-color: $neon-blue-1;
    color: rgb(44, 14, 85);
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.918);
    transition-duration: 700ms;
}

#VR p {
    position: relative;
}

#VR p::before {
    content: 'Odkrywaj';
    position: absolute;
    top: 0%;
    left: 0%;
    color: rgba(255, 255, 255, 0.226);
}

#VR span {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: $neon-blue-1;

    pointer-events: none;

    filter: blur(1em);

}

#VR span:nth-child(2) {
    top: 85%;
    transform: perspective(1em) rotateX(35deg);

}

#VR span:nth-child(3) {
    left: -75%;
    transform: perspective(1em) rotateY(35deg);
    height: 390px;
    display: none;
}
#VR span:nth-child(4) {
    left: 100%;
    transform: perspective(1em) rotateY(-45deg);
    display: none;
}
#VR span:nth-child(5) {
    top: -85%;
    transform: perspective(1em) rotateX(-45deg);
}